* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-headerTopStrip: #3f704d;
  --color-headerTopStripBorder: #6aa68b;
  --color-searchIcon: lightblue;
  --color-headerLowerStrip: #00a86b;
  --color-footer: #3f704d;
  --color-mainBannerHeading: orangered;
  --color-mainBannerPrice: grey;
  --color-homePageBackground: #f5f5f7;
  --color-homePageBanner2Borders: #ededed;
  --color-blogCardDate: #777777;
  --color-productCardPrice: #1c1c1b;
}

.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

body {
  font-family: 'Rubik', sans-serif;
}

.card-wrapper{
      background-color: white;
      box-shadow: 0 0 10px #0000001a;
      padding: 15px;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px
}

.gap-15 {
  gap: 15px
}

.gap-20{
  gap: 20px;
}

.gap-30 {
  gap: 30px
}

.button{
  background-color: var(--color-headerLowerStrip);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--color-searchIcon);
  color: black;
}

/* Header Styling */
.header-top-strip {
  border-bottom: 1px solid var(--color-headerTopStripBorder);
  background-color: var(--color-headerTopStrip);
}

.header-upper {
  background-color: var(--color-headerTopStrip);
}

.header-upper .input-group-text {
  background-color: var(--color-searchIcon);
}

.header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom {
  background-color: var(--color-headerLowerStrip);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 450;
  letter-spacing: .3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-headerTopStrip);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-searchIcon) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-headerTopStripBorder);
}

/* Header Styling Ends Here */


/* Footer Styling */
footer {
  background-color: var(--color-footer);
}

footer:not(:first-child) {
  border-top: 1px solid var(--color-headerTopStripBorder);
}

footer .input-group-text {
  background-color: var(--color-searchIcon);
  color: black;
  padding: 8px 17px;
}

/* Footer Styling Ends Here */



/* Home Page Styling */
/* Home Wrapper 1 */
.main-banner-content {
  top: 15%;
  left: 7%;
}

.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-mainBannerHeading);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-size: 500;
  text-transform: none;
}

.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-mainBannerPrice);
}

.small-banner-content {
  top: 25%;
  left:11%;
}

.small-banner-content h4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-mainBannerHeading);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -1.2px;
  font-size: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 12px;
  line-height: 8px;
  letter-spacing: 0.4;
  color: var(--color-mainBannerPrice);
}

.small-banner{
  width: 49%;
}

/* Home Wrapper 2*/
.home-wrapper-2 {
  background-color: var(--color-homePageBackground);
}

/*Categories Section */
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;  
}

.categories > div{
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories > div >div {
  width: 60%;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-homePageBanner2Borders);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-right: 1px solid var(--color-homePageBanner2Borders);
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {
  border-right: 1px solid var(--color-homePageBanner2Borders);
}

.marquee-wrapper{
  background-color: var(--color-homePageBackground);
}
/* Home Page Styling Ends Here */




/* Blog Card Styling */

.blog-card{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card img{
  border-radius: 10px 10px 0 0;
}

.blog-content {
  padding: 15px;
}

.blog-content > p.date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-blogCardDate);
  padding: 0;
}

.blog-content h5{
  font-size: 18px;
  
}

.blog-content p.description{
  font-size: 13px;
  line-height: 22px;
  color: var(--color-blogCardDate);
}

.br-6{
  width: 49.484%;

}
/* Blog Card Ends Here */





/* Product Card Styling */

.product-card{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card .product-image{
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card .product-image img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: 270px;
}

.product-card .product-image > img:last-child{
  display: none;
}

.product-card .product-image:hover img:first-child {
  display: none;
}

.product-card .product-image:hover img:last-child{
  display: block;
}

.product-card:hover .action-bar{
  right: 13px;
}

.product-card .product-details h6{
  color: var(--color-mainBannerHeading);
  font-size: 13px;
}

.product-card .product-details h5{
  font-size: 15px;
  color: black;

}

.product-card .product-details p{
  font-size: 16px;
  color: var(--color-productCardPrice);
}

.action-bar{
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon{
  top: 2.5%;
  right: 15px;
}

.gr-12{
  width: 100%;

}
.gr-6{
  width: 49.484%;
}

.gr-4{
  width: 32.644%;
}

.gr-3{
  width: 24.225%;
}

.gr-12 .product-card{
  display: flex;
  gap: 20px;
}

.gr-12 .action-bar{
  top: 15%
}
.gr-12 .product-card .product-image{
  height: auto;
}

.product-card p.description{
  font-size: 13px;
  color: var(--color-blogCardDate);
}
/* Product Card Styling Ends Here */




/* Special Product Card Styling */
.special-product-card{
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Special Product Card Styling Ends Here */




/* Famous Card Product Styling */
.famous-card .famous-content{
  top: 10%;
  left: 10%;
}

.famous-card img{
  height: 400px;
  border-radius: 10px;
}

.famous-content h5{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  margin-bottom: 7px;
}
.famous-content h6{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
}
.famous-content p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}
/* Famous Card Styling Ends Here */




/* Store Page Styling */
.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label{
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-blogCardDate);
}

.filter-card .form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked{
  background-color: var(--color-headerLowerStrip);
  border-color: rgba(0, 0, 0, 0.25);
}

.sub-title{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
}

.colors{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  
}

.random-products h5{
  font-size: 14px;
  margin-bottom: 8px;
}

.random-products:first-child{
  border-bottom: 1px solid var(--color-homePageBanner2Borders);
}

.filter-sort-grid{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid img{
  width: 33px;
  height: 33px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.grid img:hover{
  background-color: darkgrey;
}
/* Store Page Styling Ends Here */




/* Contact Page Styling */
.contact-inner-wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-inner-wrapper >div{
  width: 48%;
}

.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.contact-inner-wrapper form .form-control{
  background-color: var(--color-homePageBackground);
  border-radius: 5px;
  border-color: transparent;
}

.contact-inner-wrapper ul{
  list-style: none;
  color: var(--color-blogCardDate);
}

.contact-inner-wrapper ul a{
  color: var(--color-blogCardDate);
}

/* Contact Page Styling Ends Here */



/* Compare Product Page Styling */
.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.compare-product-card .cross-div{
  top: 10px;
  right: 10px;
  width: 23px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.compare-product-card .cross-div:hover{
  background-color: var(--color-homePageBanner2Borders);
}

.compare-product-details h5.title, .compare-product-details h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.compare-product-details h6.price{
  font-weight: 440 !important;
}

.compare-product-card .product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-homePageBanner2Borders);
    margin-top: 0;
    margin-bottom: 0;
}

.compare-product-card .product-detail h5{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.compare-product-card .product-detail p {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-blogCardDate);
}

.compare-product-card .product-detail h5,
.compare-product-card .product-detail p{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Compare Product Page Styling Ends Here */




/* Auth Card Styling */
.auth-card{
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.show-hide{
  cursor: pointer;
  box-shadow: none !important;
  outline: none !important;
  border-color: #ced4da!important;
}

.show-hide:focus{
  box-shadow: none !important;
  outline: none !important;
}

.profile-pic{
  color: var(--color-headerLowerStrip);
}
/* Auth Card Styling Ends Here */